NEXT_PUBLIC_SUPABASE_URL=https://qrxmznbrijmlcpurzmxk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFyeG16bmJyaWptbGNwdXJ6bXhrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1ODgxNDIsImV4cCI6MjA5NjE2NDE0Mn0.YWkHsBs2RdVC-Z91bL9h0m7nXgHdJxwS_jdi4v0n-gc